In [2]:
# Dictionary
# -Indexed
# -Ordered
# -Duplicate value and Multiple data
# -Mutable

In [3]:
d = dict()

In [4]:
# d = {<key>:<value>,<key>:<value>,....}

In [7]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
d["c"]

'Cat'

In [10]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [12]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
a = {"d":"dog"}
print(a+d)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [13]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
d*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [14]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(len(d))

3

In [15]:
d = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [16]:
d = {"A":"Apple","b":"Ball","c":"Cat","A":"Ant"}
d

{'A': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [19]:
a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a

{'a': 'Apple', 'b': 'Ball'}

In [20]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    phone = input("Enter phone ")
    d[name] = phone
print(d)

Enter n = 4
Enter namea
Enter phone 9867666543
Enter nameShyam
Enter phone 9856556543
Enter nameHari
Enter phone 9867665654
Enter nameNita
Enter phone 9878776765
{'a': '9867666543', 'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}

In [21]:
d = {'a': '9867666543', 'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
for i in d:
    print(i)

a
Shyam
Hari
Nita

In [22]:
d = {'a': '9867666543', 'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
for i in d.values():
    print(i)

9867666543
9856556543
9867665654
9878776765

In [23]:
d = {'a': '9867666543', 'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
for i in d.items():
    print(i)

('a', '9867666543')
('Shyam', '9856556543')
('Hari', '9867665654')
('Nita', '9878776765')

In [24]:
l = []
d = {'a': '9867666543', 'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
for i in d.items():
    l.append(i)
print(l)

[('a', '9867666543'), ('Shyam', '9856556543'), ('Hari', '9867665654'), ('Nita', '9878776765')]

In [25]:
l = [('a', '9867666543'), ('Shyam', '9856556543'), ('Hari', '9867665654'), ('Nita', '9878776765')]
dict(l)

{'a': '9867666543',
 'Shyam': '9856556543',
 'Hari': '9867665654',
 'Nita': '9878776765'}

In [26]:
d = {'a': '9867666543', 'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
d['a'] = 9700000000
d

{'a': 9700000000,
 'Shyam': '9856556543',
 'Hari': '9867665654',
 'Nita': '9878776765'}

In [27]:
d = {'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
d['Anil'] = 9700000000
d

{'Shyam': '9856556543',
 'Hari': '9867665654',
 'Nita': '9878776765',
 'Anil': 9700000000}

In [28]:
# del pop
d = {'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
del d['Shyam']
d

{'Hari': '9867665654', 'Nita': '9878776765'}

In [29]:
d = {'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
d.pop('Shyam')
d

{'Hari': '9867665654', 'Nita': '9878776765'}

In [31]:
d = {'Shyam': '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
d.pop('Shyam')
d

{'Hari': '9867665654', 'Nita': '9878776765'}

In [32]:
#tuple as key
d = {('Shyam','Nabin'): '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
d[('Shyam','Nabin')]

'9856556543'

In [34]:
#tuple as key
d = {('Shyam','Nabin'): '9856556543', 'Hari': '9867665654', 'Nita': '9878776765'}
d[('Shyam',)]

KeyError: ('Shyam',)

In [35]:
# list inside dictionary
d = {'Shyam': ['9856556543','9856552321'], 'Hari': ['9867665654','9807667654'], 'Nita': ['9878776765','9856554543']}
d['Shyam']

['9856556543', '9856552321']

In [36]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    ntc_phone = input("Enter phone ")
    ncell_phone = input("Enter phone")
    d[name] = [ntc_phone,ncell_phone]
print(d)

Enter n = 2
Enter nameRam
Enter phone 9856556543
Enter phone9808556543
Enter nameShyam
Enter phone 9845443432
Enter phone980800066765
{'Ram': ['9856556543', '9808556543'], 'Shyam': ['9845443432', '980800066765']}

In [37]:
d = {'Ram': ['9856556543', '9808556543'], 'Shyam': ['9845443432', '980800066765']}
d['Hari'] = [9856554543,9808556543]
d

{'Ram': ['9856556543', '9808556543'],
 'Shyam': ['9845443432', '980800066765'],
 'Hari': [9856554543, 9808556543]}

In [40]:
d = {'Ram': ['9856556543', '9808556543'], 'Shyam': ['9845443432', '980800066765']}
d['Ram'][0] = 9841667654
d

{'Ram': [9841667654, '9808556543'], 'Shyam': ['9845443432', '980800066765']}

In [1]:
d = {}
na = []
ag = []
ad = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    age = input("Enter age ")
    add = input("Enter add")
    na.append(name)
    ag.append(age)
    ad.append(add)
    
d = {"Name":na,"Age":ag,"Address":ad}
d

Enter n = 2
Enter nameRam
Enter age 56
Enter addKathmandu
Enter nameShyam
Enter age 34
Enter addBhaktapur

{'Name': ['Ram', 'Shyam'],
 'Age': ['56', '34'],
 'Address': ['Kathmandu', 'Bhaktapur']}

In [5]:
d = {'Name': ['Ram', 'Shyam'],'Age': ['56', '34'],'Address': ['Kathmandu', 'Bhaktapur']}
d['Name'].append('Nabin')
d['Age'].append(23)
d['Address'].append('Kathmandu')
d

{'Name': ['Ram', 'Shyam', 'Nabin'],
 'Age': ['56', '34', 23],
 'Address': ['Kathmandu', 'Bhaktapur', 'Kathmandu']}

In [6]:
#dict inside list
a = [{'Name':'Ram','Age':34,'Address':'Kathmandu'},
   {'Name':'Shyam','Age':24,'Address':'Patan'},
    {'Name':'Hari','Age':42,'Address':'Bhaktapur'}]
a

[{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 24, 'Address': 'Patan'},
 {'Name': 'Hari', 'Age': 42, 'Address': 'Bhaktapur'}]

In [8]:
type(a)

list

In [7]:
for i in a:
    print(i)

{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}
{'Name': 'Shyam', 'Age': 24, 'Address': 'Patan'}
{'Name': 'Hari', 'Age': 42, 'Address': 'Bhaktapur'}

In [11]:
#dict inside list
a = [{'Name':'Ram','Age':34,'Address':'Kathmandu'},
   {'Name':'Shyam','Age':24,'Address':'Patan'},
    {'Name':'Hari','Age':42,'Address':'Bhaktapur'}]
a[2]

{'Name': 'Hari', 'Age': 42, 'Address': 'Bhaktapur'}

In [13]:
for i in range(len(a)):
    print(a[i])

{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}
{'Name': 'Shyam', 'Age': 24, 'Address': 'Patan'}
{'Name': 'Hari', 'Age': 42, 'Address': 'Bhaktapur'}

In [14]:
a.append({'Name': 'Akash', 'Age': 14, 'Address': 'Kathmandu'})
a

[{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 24, 'Address': 'Patan'},
 {'Name': 'Hari', 'Age': 42, 'Address': 'Bhaktapur'},
 {'Name': 'Akash', 'Age': 14, 'Address': 'Kathmandu'}]

In [15]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    age = input("Enter age ")
    add = input("Enter add")
    info = {"Name":name,"Age":age,"Address":add}
    data.append(info)
    
print(data)

Enter n = 2
Enter nameRam
Enter age 78
Enter addkathmandu
Enter nameShyam
Enter age 23
Enter addBhaktapur
[{'Name': 'Ram', 'Age': '78', 'Address': 'kathmandu'}, {'Name': 'Shyam', 'Age': '23', 'Address': 'Bhaktapur'}]

In [16]:
a = [{'Name': 'Ram', 'Age': '78', 'Address': ['kathmandu','Dolkha']}, 
     {'Name': 'Shyam', 'Age': '23', 'Address': ['Bhaktapur','Kavre']}]
a

[{'Name': 'Ram', 'Age': '78', 'Address': ['kathmandu', 'Dolkha']},
 {'Name': 'Shyam', 'Age': '23', 'Address': ['Bhaktapur', 'Kavre']}]

In [22]:
a = {1:{'Name': 'Ram', 'Age': '78', 'Address': 'kathmandu'}, 
     2:{'Name': 'Shyam', 'Age': '23', 'Address': 'Bhaktapur'}}
a

{1: {'Name': 'Ram', 'Age': '78', 'Address': 'kathmandu'},
 2: {'Name': 'Shyam', 'Age': '23', 'Address': 'Bhaktapur'}}

In [23]:
a[3] = {'Name': 'Nabin', 'Age': '53', 'Address': 'lalitpur'}
a

{1: {'Name': 'Ram', 'Age': '78', 'Address': 'kathmandu'},
 2: {'Name': 'Shyam', 'Age': '23', 'Address': 'Bhaktapur'},
 3: {'Name': 'Nabin', 'Age': '53', 'Address': 'lalitpur'}}

In [24]:
a[1]['Name'] = 'Rama'
a

{1: {'Name': 'Rama', 'Age': '78', 'Address': 'kathmandu'},
 2: {'Name': 'Shyam', 'Age': '23', 'Address': 'Bhaktapur'},
 3: {'Name': 'Nabin', 'Age': '53', 'Address': 'lalitpur'}}

In [27]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name")
    age = input("Enter age ")
    add = input("Enter add")
#     data[name] = {"Age":age,"Address":add}
    data[i] = {"Name":name,"Age":age,"Address":add}
print(data)

Enter n = 2
Enter nameRam
Enter age 34
Enter addKathmandu
Enter nameShyam
Enter age 12
Enter addPatan
{1: {'Name': 'Ram', 'Age': '34', 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': '12', 'Address': 'Patan'}}

In [28]:
del data[1]
data

{2: {'Name': 'Shyam', 'Age': '12', 'Address': 'Patan'}}

In [35]:
a = {1: {'Name': 'Ram', 'Age': '34', 'Address': 'Kathmandu'}, 
     2: {'Name': 'Shyam', 'Age': '12', 'Address': 'Patan'}}
del a[1]['Name']
a

{1: {'Age': '34', 'Address': 'Kathmandu'},
 2: {'Name': 'Shyam', 'Age': '12', 'Address': 'Patan'}}

In [37]:
a.clear()
a

{}

In [41]:
a = {1: {'Name': 'Ram', 'Age': '34', 'Address': {'Per':'Kathmandu','Temp':'Patan'}}, 
     2: {'Name': 'Shyam', 'Age': '12', 'Address': {'Per':'Patan','Temp':'Bara'}}}
print(a)

{1: {'Name': 'Ram', 'Age': '34', 'Address': {'Per': 'Kathmandu', 'Temp': 'Patan'}}, 2: {'Name': 'Shyam', 'Age': '12', 'Address': {'Per': 'Patan', 'Temp': 'Bara'}}}

In [ ]:
# WAP for billing application (product name,price,quantity,total) by using dic and list
# WAP for result management system (marks,total,per,grade) by using dict inside dict