In [1]:
# # python collections
# list
# tuple
# dictionary
# set

In [2]:
# list
# indexed
# multiple values
# duplicate values
# ordered
# mutable datatype

In [3]:
a = ["Apple","ball","cat","Apple"]
print(type(a))

<class 'list'>

In [4]:
a = 2
a = 10
a = [2,10]

10

In [5]:
a = ["Apple","ball","cat","Apple"]
l = len(a)
print(l)

4

In [11]:
a = ["Apple","ball","cat","Apple"]
a[-2]

'cat'

In [13]:
a = ["Apple","ball","cat","Apple","Gota","Fish"]
print(a[0:3])
print(a[0:5:2])

['Apple', 'ball', 'cat']
['Apple', 'cat', 'Gota']

In [14]:
a = [1,2,3,4]
b = [5,6,7]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
a = [1,2,3,4]
a*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
[1,2,3,4] + [5]

[1, 2, 3, 4, 5]

In [19]:
l =list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    l = l +[name]
    
print(l)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [21]:
l =list()
n = int(input("Enter n = "))
for i in range(n):
    name = int(input("Enter name = "))
    l = l +[name]
    
print(l)
print("Total sum",sum(l))
print("max value",max(l))
print("min value = ",min(l))

Enter n = 5
Enter name = 23
Enter name = 234
Enter name = 132
Enter name = 34
Enter name = 46
[23, 234, 132, 34, 46]
Total sum 469
max value 234
min value =  23

In [22]:
l.sort()
print(l)

[23, 34, 46, 132, 234]

In [29]:
l = [23, 234, 132, 34, 46]
l.sort()
print(l)

[23, 34, 46, 132, 234]

In [30]:
l.reverse()
print(l)

[234, 132, 46, 34, 23]

In [27]:
a = "Hello World I am Python"
print(a.replace('Python','Java'))
print(a)

Hello World I am Java
Hello World I am Python

In [31]:
l = ["Ball","Zebra","cat","Fish","Zebra"]
l.sort()
print(l)

['Ball', 'Fish', 'Zebra', 'Zebra', 'cat']

In [32]:
for i in l:
    print(i)

Ball
Fish
Zebra
Zebra
cat

In [33]:
if "Zebra" in l:
    print("Yes",l.count("Zebra"))

Yes 2

In [35]:
def cal(x):
    l = x[0]
    b = x[1]
    a = l*b
    print(a)

x = [12,5]
cal(x)

60

In [36]:
# append() insert() extend()
a = ["Apple","Ball","Cat"]
a.append("Fish")
print(a)

['Apple', 'Ball', 'Cat', 'Fish']

In [38]:
a = ["Apple","Ball","Cat","Goat"]
a.insert(1,"Fish")
print(a)

['Apple', 'Fish', 'Ball', 'Cat', 'Goat']

In [40]:
a = ["Apple","Ball","Cat"]
b = ["Fish","Goat"]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Fish', 'Goat']

In [42]:
l =list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    l.append(name)
    
print(l)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [44]:
a = ["Apple","Ball","Cat","Goat"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat', 'Goat']

In [46]:
# del remove() pop()
a = ["Apple","Ball","Cat","Goat"]
del a[0]
print(a)

['Ball', 'Cat', 'Goat']

In [47]:
a = ["Apple","Ball","Cat","Goat"]
a.remove('Apple')
print(a)

['Ball', 'Cat', 'Goat']

In [49]:
a = ["Apple","Ball","Cat","Goat"]
a.pop(1)
print(a)

['Apple', 'Cat', 'Goat']

In [51]:
a = ["Apple","Ball","Cat","Goat"]
b = a.copy()
b

['Apple', 'Ball', 'Cat', 'Goat']

In [52]:
a = ["Apple","Ball","Cat","Goat"]
a.clear()
print(a)

[]

In [1]:
a = ["Apple","Ball","Cat","Goat","Apple","Apple"]
del a[0:3]
a

['Goat', 'Apple', 'Apple']

In [3]:
a = ["Apple","Ball","Cat","Goat","Apple","Apple"]
a.remove('Apple')
a

['Ball', 'Cat', 'Goat', 'Apple', 'Apple']

In [7]:
a = ["Apple","Ball","Cat","Goat","Apple","Apple"]
x = input("Enter x = ")
l = a.count(x)
for i in range(l):
    a.remove(x)
        
    print(a)

Enter x = Apple
['Ball', 'Cat', 'Goat', 'Apple', 'Apple']
['Ball', 'Cat', 'Goat', 'Apple']
['Ball', 'Cat', 'Goat']

In [10]:
a = ["Apple","Ball","Cat","Goat","Apple","Apple"]
for i in range(len(a)):
    if "Apple" == a[i]:
        print(i)

0
4
5

In [9]:
a = ["Apple","Ball","Cat","Goat","Apple","Apple"]
del a[0]
a

['Ball', 'Cat', 'Goat', 'Apple', 'Apple']

In [23]:
# list insede list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]

b = [[],[],[]]

a[0][2]

3

In [18]:
a = [["Ram",45,"Kathmandu"],
     ["Shyam",67,"Lalitpur"],
    ["Hari",45,"Bhaktapur"]]

print(a[1])
print(len(a))

['Shyam', 67, 'Lalitpur']
3

In [24]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Entre name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

Enter n = 2
Entre name = Ram
Enter age = 56
Enter add = Kathmandu
Entre name = Shyam
Enter age = 56
Enter add = Baluwatar
[['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar']]

In [25]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 56, 'Kathmandu']

In [26]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar']]
for i in a:
    print(i)

['Ram', 56, 'Kathmandu']
['Shyam', 56, 'Baluwatar']

In [27]:
a.append(['Nabin',45,"Bara"])
a

[['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]

In [29]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]
name = input("Enter name = ")
for i in range(len(a)):
    if name in a[i]:
        print(i,a[i])

Enter name = Nabin
2 ['Nabin', 45, 'Bara']

In [34]:
a = ["Apple","Ball","Cat","Dog"]
for i in range(len(a)):
    print(i,a[i])

0 Apple
1 Ball
2 Cat
3 Dog

In [36]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]
a[0] = ["Rama",57,'Bara']
a

[['Rama', 57, 'Bara'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]

In [39]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 56, 'Kathmandu'],
 ['Shyam', 56, 'Baluwatar'],
 ['Nabin', 45, 'Bara']]

In [41]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]

del a[0]
a

[['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]

In [42]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]
for i in a:
    if "Ram" in i:
        a.remove(i)
        
a

[['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]

In [43]:
a = [['Ram', 56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]
for i in a:
    if "Ram" in i:
        i.remove('Ram')
        
a

[[56, 'Kathmandu'], ['Shyam', 56, 'Baluwatar'], ['Nabin', 45, 'Bara']]

In [1]:
# a = [[1,2,3],
#      [4,5,6],
#      [7,8,9]]

a = [[1,2,3]]

data = [1,2,3]

In [3]:
r = int(input("Enter r = "))
c = int(input("Enter c = "))
mat = []
for i in range(r):
    x = []
    for j in range(c):
        data = int(input("Enter data = "))
        x.append(data)
    mat.append(x)
    
print(mat)

Enter r = 4
Enter c = 4
Enter data = 1
Enter data = 2
Enter data = 3
Enter data = 4
Enter data = 5
Enter data = 6
Enter data = 7
Enter data = 8
Enter data = 9
Enter data = 10
Enter data = 11
Enter data = 12
Enter data = 13
Enter data = 14
Enter data = 15
Enter data = 16
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [4]:
mat

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]