In [3]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "pythonclass3pm"
)
db = database.cursor()

In [2]:
# CRUD
# C-Create
# R-Read
# U-Update
# D-Delete

In [3]:
#Read
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 11, 78, 76, 89, 78, 98, 460, 83, 'A')

In [13]:
#Read
db.execute("SELECT Sn, Name, Class FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 11)
(2, 'Sita', 11)
(3, 'Sita', 11)

In [11]:
sql = "INSERT INTO student (Name, Class, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade) 
VALUES ('Sita',11,89,89,98,90,91,460,90.0,'A+')"
db.execute(sql)

database.commit()

In [17]:
database.commit()

In [18]:
#Read
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 11, 78, 76, 89, 78, 98, 460, 83, 'A')
(2, 'Sita', 11, 89, 89, 98, 90, 91, 460, 90, 'A+')
(5, 'Rita', 11, 89, 89, 98, 90, 91, 460, 90, 'A+')
(6, 'Nabin', 30, 89, 89, 98, 90, 91, 460, 90, 'A+')

In [4]:
# WAP to take input data from users and add it on database
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    clas = int(input("Enter class - "))
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input('Enter nepali marks = '))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    if per>=80:
        grade = "A"
    elif per>= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    else:
        grade = "F"
    sql = f"INSERT INTO student (Name, Class, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade) 
    VALUES ('{name}',{clas},{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
    db.execute(sql)

database.commit()

Enter n = 2
Enter name = Nabina
Enter class - 12
Enter physics marks = 89
Enter chemistry marks = 87
Enter math marks = 67
Enter english marks = 90
Enter nepali marks = 76
Enter name = Shyama
Enter class - 89
Enter physics marks = 90
Enter chemistry marks = 78
Enter math marks = 87
Enter english marks = 78
Enter nepali marks = 98

In [11]:
#Read
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(2, 'Sita', 11, 89, 89, 98, 90, 91, 460, 90, 'A+')
(5, 'Rita', 11, 89, 89, 98, 90, 91, 460, 90, 'A+')
(6, 'Nabin', 30, 89, 89, 98, 90, 91, 460, 90, 'A+')

In [10]:
sql = "DELETE FROM student WHERE Grade = 'A'"
db.execute(sql)
database.commit()

In [13]:
sql = "UPDATE student SET Name = 'Sitaram' WHERE Name = 'Sita' "
db.execute(sql)
database.commit()