In [2]:
a = "Hello World"
print(type(a))
print(a)

<class 'str'>
Hello World

In [5]:
a = "Hello World"
print(a[1])

e

In [6]:
a = "Hello World"
print(a[-1])

d

In [9]:
a = "Hello World"
print(a[0:5])

Hello

In [11]:
a = "Hello World"
print(a[0:10:2])

HloWr

In [14]:
a = "Hello World"
print(a[-1::-1])

dlroW olleH

In [20]:
a = "Hello World"
b = a[0:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [18]:
# + *
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [23]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [ ]:
# string formatting
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello I am " + name+" I am from "+add + "I am " +str(age)

In [26]:
name = "Ram"
age = 34
add = "Kathmandu"
info = f"Hello I am {name}. I am from {add} I am {age}"
print(info)

Hello I am Ram. I am from Kathmandu I am 34

In [27]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name} {add}\n"
    s = s+info
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9856556533
Enter name = Shyam
Enter phone = 98676656
Ram Kathmandu
Shyam Kathmandu

In [28]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter qty = "))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    s = s+bill
    
print(s)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter qty = 3
Enter name = Banana
Enter price = 100
Enter qty = 3
Apple 300 3 900
Banana 100 3 300

In [32]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
if "Ram" in a:
    c = a.count("Ram")
    print("Yes")
    print(c)
else:
    print("No")

Yes
2

In [35]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
name = input("Enter name = ")
if name in a:
   
    c = a.count(name)
    print(c)
    print("Yes")
else:
    print("No")

Enter name = ram
No

In [37]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
print(a.upper())
print(a.lower())

RAM SHYAM HARI NITA SITA GITA RAM
ram shyam hari nita sita gita ram

In [43]:
a = "Ram Shyam Hari Nita Sita Gita RAm"
print(a.lower())
"RAm".lower()

ram shyam hari nita sita gita ram

'ram'

In [42]:
a = "Ram Shyam Hari Nita Sita Gita Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    c = a.count(name)
    print(c)
    print("Yes")
else:
    print("No")

Enter name = am
3
Yes

In [47]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
b = a.replace("Ram","ram")
print(b)
print(a)

ram Shyam Hari Nita Sita Gita ram
Ram Shyam Hari Nita Sita Gita Ram

In [52]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
a[0:3]  = "Prasad"
print(a)

TypeError: 'str' object does not support item assignment

In [54]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
"Rama"+a[3:]

'Rama Shyam Hari Nita Sita Gita Ram'

In [55]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
b = a.replace("Ram","")
print(b)

 Shyam Hari Nita Sita Gita

In [56]:
a = "Ram Shyam Hari Nita Sita Gita Ram"
a.split()

['Ram', 'Shyam', 'Hari', 'Nita', 'Sita', 'Gita', 'Ram']