In [1]:
# Indexed
# Ordered
# duplicate members
# multiple members
# Imutabe

In [3]:
a = ("Apple", "Ball","Cat","Dog")
print(type(a))
print(a)

<class 'tuple'>
('Apple', 'Ball', 'Cat', 'Dog')

In [4]:
a = ("Apple", "Ball","Cat","Dog","Apple")
a

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [6]:
a = ("Apple", "Ball","Cat","Dog","Apple")
a[1]

'Ball'

In [7]:
a = ("Apple", "Ball","Cat","Dog","Apple")
a[1:4]

('Ball', 'Cat', 'Dog')

In [10]:
a = ("Apple", "Ball","Cat","Dog","Apple")
b = ("Fish","Goat")
print(a+b)

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Fish', 'Goat')

In [11]:
b = ("Fish","Goat")
b*2

('Fish', 'Goat', 'Fish', 'Goat')

In [15]:
a = ("Fish",)
print(type(a))

<class 'tuple'>

In [18]:
a = ("Apple", "Ball","Cat","Dog","Apple",)
b = ("Fish",)
c = a+b
c

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Fish')

In [19]:
# mutable datatype -> unstable data
# imutable datatype -> static data

In [ ]:
# NO append() insert() extend() del remove() pop() sort() clear()
a = ("Apple", "Ball","Cat","Dog","Apple",)

In [21]:
data =tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    data = data + (x,)
print(data)

Enter n = 3
Enter name = Ram
Enter name = Shyam
Enter name = Hari
('Ram', 'Shyam', 'Hari')

In [22]:
a = ("Apple", "Ball","Cat","Dog","Apple",)
b = list(a)
b

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [23]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
b = tuple(a)
b

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [24]:
a = ("Apple", "Ball","Cat","Dog","Apple",)
b = list(a)
del b[0]
a = tuple(b)
a

('Ball', 'Cat', 'Dog', 'Apple')

In [26]:
a = "Python"
print(list(a))
print(tuple(a))

['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')

In [ ]:
# tuple inside tuple
# a = (("Ram",34,"Kathmandu"),
#     ("Shyam",32,"bhaktapur"),
#     ("Nabin",23,Patan))

In [27]:
data =tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    address = input("Enter address = ")
    info = (name,age,address)
    data = data + (info,)
print(data)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 23
Enter address = Bhaktapur
(('Ram', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur'))

In [28]:
a = (('Ram', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur'))
list(a)

[('Ram', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur')]

In [31]:
# tuple inside list
a = [('Ram', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur')]
a.append(('Nabin',23,'Bara'))
a

[('Ram', '34', 'Kathmandu'),
 ('Shyam', '23', 'Bhaktapur'),
 ('Nabin', 23, 'Bara')]

In [35]:
a = [('Ram', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur')]
a[0]

('Ram', '34', 'Kathmandu')

In [36]:
a = [('Ram', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur')]
a[0] = ('Ram Prasad', '34', 'Kathmandu')
a

[('Ram Prasad', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur')]

In [37]:
#list inside tuple
a = (['Ram', '34', 'Kathmandu'], ['Shyam', '23', 'Bhaktapur'])
type(a)

tuple

In [40]:
a = (['Ram', '34', 'Kathmandu'], ['Shyam', '23', 'Bhaktapur'])
a[0][0] = "Ram Prasad"
a

(['Ram Prasad', '34', 'Kathmandu'], ['Shyam', '23', 'Bhaktapur'])

In [41]:
o = []
a = (('Ram', '34', 'Kathmandu'), ('Shyam', '23', 'Bhaktapur'))
b = list(a)
for i in b:
    x = list(i)
    o.append(x)
    
o

[['Ram', '34', 'Kathmandu'], ['Shyam', '23', 'Bhaktapur']]